@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}

.container {
  max-width: 1200px;
  margin: 5rem auto;
}

.todos {
  width: 50%;
  border: 2px solid rgba(217, 217, 217, 0.595);
  margin: 0 auto;
}

.todos .heading h1 {
  font-size: 1.2rem;
  font-weight: 400;
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todos h1,
ul li,
form .input,
.clear {
  padding: 1.2rem;
}

ul li {
  list-style: none;
  border-top: 2px solid rgba(217, 217, 217, 0.595);
  font-weight: 300;
}

.input {
  width: 100%;
  border: none;
  outline: 2px solid rgba(217, 217, 217, 0.595);
  font-size: 1rem;
  font-style: italic;
}

ul li input {
  cursor: pointer;
  opacity: 0.6;
  margin-right: 0.5rem;
}

ul li .check-container {
  padding-left: 0.5rem;
}

#trash {
  float: right;
  color: rgba(144, 144, 144, 0.759);
  cursor: pointer;
  margin-top: -1.4px;
  padding-right: 1.2rem;
  opacity: 0.5;
  transition: 0.3s ease;
}

#trash:hover {
  opacity: 1;
}

.fav {
  float: right;
  color: rgba(144, 144, 144, 0.759);
  cursor: move;
}




.faspin {
  font-size: 1rem;
  padding-right: 1.2rem;
  color: rgba(144, 144, 144, 0.759);
  cursor: pointer;
}

.clear {
  width: 100%;
  border-top: 2px solid rgba(217, 217, 217, 0.595);
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  background-color: #fff;
  border-bottom: 0;
  cursor: pointer;
  color: rgba(123, 121, 121, 0.81);
}
